/* page background */
body {
background-color:#FFF1F2;
font-family:arial;
margin:0px;
}
/* search-container */
.search-container {
position:sticky;
top:0;
background-color:pink;
padding:10px 0;
z-index:1000;
}
#search {
width:100px;
padding:12px;
font-size:16px;
}

/* header content */
.header {
background-image:url('https://iili.io/qJ5q53N.jpg');
color:white;
margin:0px;
padding:10px;
text-align:center;
}

/* heading */
.heading {
background-color:#FFE3FB
color-
text-align:center;
padding:10px;
border-radius:10px;
}

/* content */
.content {
background-image:url('https://iili.io/qJ5hmSR.webp');
min-height:70vh;
background-size:cover;
background-position:center;
background-repeat:no-repeat;
color:white;
text-align:center;
padding:80px 20px;
border-radius:10x;
}
/* head */
.head {
background-image:url('https://iili.io/qJ5gz21.jpg');
min-height:70vh;
background-size:cover;
background-position:center;
background-repeat:no-repeat;
color-white;
text-align:center;
padding:80px 20px;
border-radius:10px;
}
/* third head*/
.third-head {
background-image:url('https://iili.io/qJ5siMJ.jpg');
min-height:70vh;
background-size:cover;
background-position:center;
background-repeat:no-repeat;
color-white;
text-align:center;
padding:80px 20px;
border-radius:10px;
}
/* forth head*/
.forth-head {
background-image:url('https://iili.io/qJ5D0ep.jpg');
min-height:70vh;
background-size:cover;
background-position:center;
background-repeat:no-repeat;
color-white;
text-align:center;
padding:80px 20px;
border-radius:10px;
}
/* fifth head*/
.fifth-head {
background-image:url('https://iili.io/qJ7xCoF.jpg');
min-height:70vh;
background-size:cover;
background-position:center;
background-repeat:no-repeat;
color-white;
text-align:center;
padding:80px 20px;
border-radius:10px;
}
/* sixth head*/
.sixth-head {
background-image:url('https://iili.io/qJ7HHej.jpg');
min-height:70vh;
background-size:cover;
background-position:center;
background-repeat:no-repeat;
color-white;
text-align:center;
padding:80px 20px;
border-radius:10px;
}
/* seventh head*/
.seventh-head {
background-image:url('https://iili.io/qJ7Kn2I.jpg');
min-height:70vh;
background-size:cover;
background-position:center;
background-repeat:no-repeat;
color-pink;
text-align:center;
padding:80px 20px;
border-radius:10px;
}
/* eighth head*/
.eighth-head {
background-image:url('https://iili.io/qJ773jR.jpg');
min-height:70vh;
background-size:cover;
background-position:center;
background-repeat:no-repeat;
color-red;
text-align:center;
padding:80px 20px;
border-radius:10px;
}

/* h3 */
.h3 {
color:green;
}

/* products */
.products {
display:flex;
gap:30px;
}

/* product */
.product {
width:50%px;
text-align:center;
cursor:pointer;
}

/* product img*/
.product img {
width:100%px;
border-radius:10px;
height:auto;
object-fit:cover;
}

/* price style */
.price {
color:green;
}
/* Whatsapp buy button*/
.buy-btn {
display:inline-block;
background-color:green;
color:white;
padding:10px 20px;
text-decoration:none;
border-radius:5px;
font-weight:bold;
transition:o.3s;
cursor:pointer;
}
.buy-btn:hover {
background-color: bright-green;
}
/* footer */
footer {
    background: #0F3D3E;
    color: white;
    width: 100%;
    padding: 50px 5%;
    box-sizing: border-box;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
}




